<!DOCTYPE html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="todo.css" media="screen" title="no title" cherset="utf-8">
  </head>
  <body>
    <section ng-controller="TodoListController">
      <div class="row">
        <div class="medium-12 columns">
          <span>{{ getRemaining() }} of {{ todos.length }} items remaining</span>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns">
          <table>
            <thead>
              <tr>
                <th width="200">&nbsp;</th>
                <th>Item</th>
                <th>Priority</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="todo in todos">
                <td><input type="checkbox" name="name" ng-model="todo.done"></td>
                <td ng-class="{done: todo.done}">{{ todo.task }}</td>
                <td>{{ todo.priority }}</td>
                <td>
                  <button type="button" class="alert button" ng-click="deleteTodo($index)">Remove</button>
                </td>
                <td>
                  <input type="text" ng-model="newTodo" placeholder="New Todo">
                </td>
              </tr>
              <tr>  
                <td>
                  <input type="text" ng-model="newTodo.task" placeholder="New Todo">
                </td>
                <td>
                  <input type="text" ng-model="newTodo.priority" placeholder="Priority">
                </td>
                <td colspan="2">    
                  <button type="button" class="button" ng-click="addTodo()">Add it</button>
                </td>
                <td colspan="2">
                  <button type="button" class="button" ng-click="deleteTodo()">Delete it</button>
                </td>  
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="todo.js"></script>
    <script type="text/javascript" src="anotherController.js"></script>
  </body>
</html>